{% extends './layout.html' %}

{% block title %}Formulario{% endblock %}

{% block body %}
<div style="background-image: url(https://i.pinimg.com/originals/75/51/f7/7551f786c20132d152149b7bda3ff86a.gif); 
    background-size: cover; 
    width: 1100px; height: 624px;">
    <br>
    <div style="width: 600px; background-color: white;" class="container text-center">
        <br>
        <p class="fs-4">Formulario de Registro de Datos</p>
        <br>
        <form action="" method="Post">
            <div class="form-floating">
                <input type="text" class="form-control" name="correo">
                <label for="correo">Correo Electronico</label>
            </div>
            <div class="form-floating">
             <input type="password" class="form-control" name="password">
                <label for="password">Contraseña</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" name="name">
                   <label for="name">Nombre</label>
               </div>
            <div>
                <button type="submit" class="btn btn-outline-dark" value="submit">Enviar Datos</button>
            </div>
        </form>
        <br>
    </div>
</div>
{% endblock %}