{% extends './layout.html' %}

{% block title %}Datos Personales{% endblock %}

{% block body %}
    <div class="container text-center">
        <p class="fs-2">Un poco acerca de mi...</p>
    </div>
    <div style="width: 800px;" class="container text-center">
        <p class="fs-6">Soy originario del Edo. Mex. pero cuando pasé a la preparatoria mi familia se decidió mudar 
            al estado de Yucatán. Eso para mí fue un cambio muy drastico en mi vida y tanto para mi familia
            como para mí, esta decición significaba empezar practicamente una nueva vida desde cero.
        </p>
        <p class="fs-6">Mi gusto por la programación lo descrubrí precisamente en la preparatoria, uno de mis sueños siempre
            ha sido el crear un videojuego, no importa lo grande o pequeño que sea, ese es mi sueño y cuando se me dió
            la oportunidad de poder llevar la materia de programación la tomé por el simple hecho de ver como era 
            este maravilloso mundo y no me arrepiento de haber hecho eso.
        </p>
        <p class="fs-6">Yo nací un 9 de agosto del año 2003, en el ya mencionado Edo. Mex., siempre he sido alguien que
            es practicamente calmado, pero claro, me gusta echar relajo de vez en cuando, pero se cuando
            comportarme y cuando me puedo dejar llevar.
        </p>
    </div>
    <div style="width: 400px;">
        <p class="fs-7">Si usted gusta contactarme aquí abajo dejo mis datos de contacto:</p>
        <ul>
            <li>Correo Electronico: leohedgwolf@gmail.com</li>
            <li>Teléfono: (55)-1262-3905</li>
            <li>Domicilio: Manzano A x Calle 40, Casa 36. Vega del Mayab, Conkal, Yucatán</li>
        </ul>
    </div>
{% endblock %}